$darkest: #000;
$mediumblue: #023059;
$darkblue: #012840;
$green: #027353;
$bright: #F2CE1B;
$mediumyellow: #F2BD1D;
$lightest: #fff;

:export {
  darkest: $darkest;
  mediumblue: $mediumblue;
  darkblue: $darkblue;
  green: $green;
  bright: $bright;
  mediumyellow: $mediumyellow;
  lightest: $lightest;
}